body {
  font-family: Arial;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding: 20px;
}

.row {
  display: grid;
}

.flex-grid-halves {
  display: flex;
  justify-content: space-between;
}
.flex-grid-halves .col {
  width: 50%;
}
